html 
	body
		.wrapper
			.links
				cursor pointer
				display inline-block
				margin-right 10px
				border 1px solid transparent
				padding 3px 8px
			.links:hover
				color green
				border 1px solid green
				border-radius 3px
		.uiContainer
			border-top 1px solid grey
		